[Desktop Entry]
Version=1.0
Name=PINCE
Comment=Reverse Engineering Tool (GDB Frontend)
Exec=sh -c 'SUDO_ASKPASS=$(which ksshaskpass) sudo -A -E pince'
Icon=utilities-log-viewer
Terminal=false
Type=Application
Categories=Development;Debugger;
Keywords=debug;memory;scan;hack;cheat;cheatengine;cheat engine;
